body{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
}
.header{
    display: flex;
    background-color: rgb(243, 252, 255);
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #41B883 ;
}
.logo span{
    color: #34495E;
}
/* Nav Style */

nav{
    display: flex;
    justify-content:center;
    gap: 250px;
    align-items: center;
    
    
}


nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 15px;
}

nav ul a{
    text-decoration: none;
    color: #41B883;
    font-size: 18px;
    font-weight: 600;
}
.nav_btn{
   padding: 14px 26px;
   border: 0px;
   background-color: #41B883;
   font-size: 14px;
   color: white;
   font-weight: 600;
   border-radius: 5px;
}
/* hero section  */
.hero-section{
    display: flex;
    align-items: center;
    padding: 50px 50px;
    justify-content: space-between;
    background-color: #e8f8ff;
}
.banner-image img{
    
    width: 100%;
}
.banner-h4{
    font-size: 20px;
    color: grey;
}
.multiple-color{
    color: #41B883;
}
.banner-titel{
    font-size: 32px;
}
.banner-p{
    font-size: 20px;
    margin-bottom: 40px;
    color: grey;
    font-weight: 400;
   
}




/* responsive */

@media screen and (max-width: 576px){

    header{
        flex-direction: column;
    }
    nav{
        gap: 30px;
      

    }
    nav ul li{
        padding: 5px;
    }
    nav ul a{
        color: #41B883;
        font-size: 14px;
        font-weight: 500;
    }
    .nav_btn{
        padding: 12px 18px;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        
    }
    .banner-h4{
        font-size: 20px;
    }
    .banner-titel{
        font-size: 24px;
    }
    .banner-p{
        font-size: 18px;
        }
        .banner{
            margin-bottom: 50px;
        }
}