body{
    padding: 0px 50px;
    
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
}
.header{
    display: flex;
    background-color: #e8f8ff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #41B883 ;
}
.logo span{
    color: #34495E;
}
/* Nav Style */

nav{
    display: flex;
    justify-content:center;
    gap: 250px;
    align-items: center;
    
    
}


nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 15px;
}

nav ul a{
    text-decoration: none;
    color:#34495E;
    font-size: 18px;
    font-weight: 600;
}

nav ul a:hover{
    color: #41B883;
}
.nav_btn{
   padding: 14px 26px;
   border: 0px;
   background-color: #41B883;
   font-size: 14px;
   color: white;
   font-weight: 600;
   border-radius: 5px;
}
.nav_btn:hover {
    background-color: #34495E;
}
/* hero section  */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.banner{
    width: 50%;
    
}
.banner-image img{
    
    width: 100%;
}
.banner-h4{
    font-size: 20px;
    color: grey;
}
.multiple-color{
    color: #41B883;
}
.banner-titel{
    font-size: 32px;
}
.banner-p{
    font-size: 20px;
    margin-bottom: 40px;
    color: grey;
    
}
.social-icon img{
    width: 45px;
    height: 45px;
   background-color: #41B883;
   border-radius: 50%;
   margin-right: 5px;
}

/* skills section */
.skills-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px 0px;
    
}
.skills{
    text-align: center;
   
    
}
.skills img{
    height: 250px;
    width: auto;
}
.about-section{
    display: flex;
    gap: 150px;
    align-items: center;
    padding-right: 100px;
}
.about-img img{
    width: 650px;
    height: 100%;
}




/* responsive */

@media screen and (max-width: 576px){

    body{
        padding: 0px 0px;
    }

    header{
        flex-direction: column;
    }
    nav{
        gap: 30px;
      

    }
    nav ul li{
        padding: 5px;
    }
    nav ul a{
        font-size: 14px;
        font-weight: 500;
    }
    .nav_btn{
        padding: 12px 18px;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        
    }
    .banner-h4{
        font-size: 20px;
    }
    .banner-titel{
        font-size: 24px;
    }
    .banner-p{
        font-size: 18px;
        }
        .banner{
            margin-bottom: 50px;
            width: auto;
            padding: 5px;
        }
        /* skill section */
        .skills-container{
            flex-direction: column;
            text-align: center;
            margin:50px 0px 0px 0px;
        }
        
        .my-skill{
            text-align: center;
        }
        .about-section{
            flex-direction: column-reverse;
            text-align: center;
            gap: 40px;
            padding: 5px;
            
        }
        .about-img img{
            width:300px;
            height: 100%;
        }
}