body{
  padding: 0px;
  margin: 0px;
    
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
}
main{
    padding: 150px;
}
.header{
    display: flex;
    background-color: #e8f8ff;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    width: 100%;
}
.logo{
    font-size: 24px;
    color: #41B883 ;
}
.logo span{
    color: #34495E;
}
/* Nav Style */

nav{
    display: flex;
   
    gap: 350px;
    align-items: center;
    
    
}


nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    padding-right: 15px;
}

nav ul a{
    text-decoration: none;
    color:#34495E;
    font-size: 18px;
    font-weight: 600;
}

nav ul a:hover{
    color: #41B883;
}
.nav_btn{
   padding: 14px 26px;
   border: 0px;
   background-color: #41B883;
   font-size: 14px;
   color: white;
   font-weight: 600;
   border-radius: 5px;
}
.nav_btn:hover {
    background-color: #34495E;
}
/* hero section  */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.banner{
    width: 100%;
    
}
.banner-image img{
    
    width: 100%;
}
.banner-h4{
    font-size: 24px;
}
.multiple-color{
    color: #41B883;
}
.banner-titel{
    font-size: 40px;
    color: #34495E;
}
.banner-p{
    font-size: 20px;
    margin-bottom: 40px;
    color: grey;
    width: 90%;
    
}
.social-icon img{
    width: 45px;
    height: 45px;
   background-color: #41B883;
   border-radius: 50%;
   margin-right: 5px;
}
.social-icon img:hover{
    background-color: #ffffff;
}

/* skills section */
.my-skill{
    margin-top: 100px;
}
.skills-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px 0px;
    
}
.skill-h4{
    font-size: 20px;
    text-align: center;
}
.skill-titel{
    font-size: 40px;
    color: #34495E;
    text-align: center;
}
.skills{
    text-align: center;
   
    
}
.skills img{
    height: 250px;
    width: auto;
}
.about-section{
    display: flex;
    align-items: center;
    gap: 70px;
}
.about-img img{
    width: 500px;
    height: 100%;
}

/* portfolio section */

.portfolio-section{
    margin-top: 80px;
}
.portfolio-box{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}
.portfolio img {
    width: 600px;
    height: 350px;
    border-radius: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.contact-img img{
    width: 350px;
    height: auto;
}

form input{
    width: 500px;
    padding: 12px 5px 12px 0px;
    border: none;
    border-bottom: 1px solid #34495E;
    margin: 10px;
}
.Massage{
    padding: 50px 0px;
    margin-bottom: 20px;
}
.copyright{
    background-color: #34495E;
    padding: 5px 0px;
    align-items: center;
}




/* responsive */

@media screen and (max-width: 576px){

    body{
        padding: 0px 0px;
    }
    main{
        padding: 5px;
    }

    header{
        flex-direction: column;
    }
    nav{
        gap: 0px;
        justify-content: space-between;
      

    }
    nav ul{
        justify-content: space-between;
    }
    nav ul li{
        padding-right: 5px;
    }
    nav ul a{
        font-size: 14px;
        font-weight: 500;
    }
    .nav_btn{
        padding: 12px 18px;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
        
    }
    .banner-h4{
        font-size: 20px;
    }
    .banner-titel{
        font-size: 24px;
    }
    .banner-p{
        font-size: 18px;
        width: 100%;
        }
        .banner{
            margin-bottom: 50px;
            width: auto;
            padding: 5px;
        }
        /* skill section */
        .skills-container{
            flex-direction: column;
            text-align: center;
            margin:50px 0px 0px 0px;
        }
        .skill-h4{
            font-size: 20px;
            
        }
        .skill-titel{
            font-size: 24px;
            margin-bottom: 40px;
        }
        
        .my-skill{
            text-align: center;
        }
        .about-section{
            flex-direction: column-reverse;
            text-align: center;
            gap: 40px;
            padding: 5px;
            
        }
        .about-img img{
            width:300px;
            height: 100%;
        }

        .portfolio-section{
            margin-top: 40px;
        }

        .portfolio-box{
           flex-direction: column;
            margin:0px;
            padding: 10px;
        }
        .portfolio img {
            width: 100%;
            height: 100%;
        }
        .portfolio{
            padding-bottom: 20px;
        }
        .footer{
            flex-direction: column;
            align-items: center;
        }
        .contact-img img{
            width:100%;
            height: 100%;
        }
        form input{
            width: 100%;
            padding: 12px 5px 12px 0px;
        }
        form{
            margin-bottom: 30px;
        }
}